  <h1>My BBS</h1>
  <ul>
    <% @comments.each do |comment| %>
      <li data-id="<%= comment.id %>" data-token="<%= csrf_token %>">
        <%= h(comment.body) %> <!-- フォームからの攻撃をエスケープする -->
        <span class="delete">[x]</span> <!-- styles.cssで.deleteにスタイルつけた -->
      </li>
    <% end %>
  </ul>
  <form action="/create" method="post"> <!-- /createに飛ばす -->
    <%= csrf_tag %>
    <input type="text" name="body">
    <input type="submit" value="Add comment">
  </form>
